Source: vanilla-base-plasma
Section: utils
Priority: optional
Maintainer: Ratatouilledummie <ratatouillemorde@gmail.com>
Build-Depends: debhelper (>= 11),
Homepage: https://github.com/vanilla-os/vanilla-base-desktop/
Vcs-Browser: hhttps://github.com/vanilla-os/vanilla-base-desktop
Vcs-Git: https://github.com/vanilla-os/vanilla-base-desktop.git
Rules-Requires-Root: no

Package: vanilla-base-plasma
Architecture: all
Depends:  fonts-cantarell,
          fonts-dejavu-core,
          fonts-freefont-ttf,
          fonts-noto-color-emoji,
          fonts-indic,
          fonts-kacst-one,
          fonts-khmeros-core,
          fonts-lao,
          fonts-liberation,
          fonts-lklug-sinhala,
          fonts-noto-cjk,
          fonts-sil-abyssinica,
          fonts-sil-padauk,
          fonts-thai-tlwg,
          fonts-tibetan-machine,
          fonts-ubuntu,
          libqt5bluetooth5-bin,
          libqt5charts5,
          libqt5concurrent5,
          libqt5contacts5,
          libqt5contacts5a,
          libqt5core5a,
          libqt5datavisualization5,
          libqt5dbus5,
          kde-baseapps,
          kde-baseapps-bin,
          kde-baseapps-data,
          kde-cli-tools,
          kde-cli-tools-data,
          kde-config-cddb,
          kde-config-cron,
          kde-config-fcitx,
          kde-config-fcitx5,
          kde-config-gtk-style,
          kde-config-gtk-style-preview,
          kde-config-mailtransport,
          kde-config-plymouth,
          kde-config-screenlocker,
          kde-config-sddm,
          kde-config-systemd,
          kde-config-tablet,
          kde-config-telepathy-accounts,
          kde-config-touchpad,
          kde-config-updates,
          kde-config-whoopsie,
          kde-games-core-declarative,
          kde-l10n-ast,
          kde-runtime,
          kde-runtime-data,
          kde-spectacle,
          kde-standard,
          kde-style-breeze,
          kde-style-oxygen-qt5,
          kde-style-qtcurve-qt5,
          plasma-desktop,
          kde-plasma-desktop,
          plasma-desktop-data,
          sddm,
          sddm-theme-breeze,
          xorg,
          kubuntu-wallpapers,
          vanilla-first-setup,
          vanilla-backgrounds,
          plymouth-theme-spinner,
          plymouth-theme-vanilla,
          plymouth-theme-vanilla-bgrt,
          plymouth-theme-vanilla-text,
          falkon
Description: This meta package contains KDE-Plasma Core applications for Vanilla OS.
